@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Josefin+Sans:wght@500&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    background-color: #17202A;
    background-image: url(DiwaliImages.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:azure;
    position: relative;
}
.counter{
    
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position:absolute;
    top:150px;
}

h2{
    font-size: 25px;
    text-align: center;
    font-family: 'Fasthand', cursive;
    position: absolute;
    top:100px;
}

.box{
    
    font-size: 20px;
    text-align: center;
    color:rgb(5, 44, 78);
    padding:10px;
    background-color:#D9E6F5;
}

@media (min-width:576px) {
    .counter{
        font-size: 100px;
    }
    h1{
        font-size: 18px;
    }
}

@media (min-width:768px){
    .counter{
        font-size:150px;
    }
    h1{
        font-size: 25px;
    }
    .box h1{
        font-size: 30px;
    }
}
